body {
	margin: 0;
	padding: 0;
}

.main_page {
	min-width: 1023px;
	width: auto;
	height: auto;
	display: block;
}

.logo {

display: inline-block;
font-family: FuturaBT;
font-size: 36px;/* Приближение из-за подстановки шрифтов */
line-height: 30px;/* Приближение из-за подстановки шрифтов */
text-align: left;
margin-left: 189px;
width: auto;}

.logo span:first-child {
color: #ee8129;
font-weight: 300;
}

.logo span:last-child {
	color:  #3070a8;
font-weight: 700;
}

.nav {
	display: inline-block;
	margin-left: 180px;
	width: auto;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	display: inline-block;
/* Приближение из-за подстановки шрифтов */
text-align: left;
margin-right: 20px;
text-transform: uppercase;
}

.nav a {text-decoration: none;
	font-family: OpenSans;
color:  #989898;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 600;
line-height: 22px;
}

.banner {
	margin-top: 36px;
	width: auto;
	height: 585px;
	background: url(pic.jpg);
}

.main_sign {
	width: 872px;
	margin: 0 auto;
	font-family: FuturaBT, sans-serif;
	text-align: center;
	padding-top: 152px;
	display: block;
}

.main_sign span:first-child {
color:  #ffffff;
font-size: 36px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
display: block;
}

.main_sign span:nth-child(2) {
color:  #ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: uppercase;
display: block;
}

.main_sign span:last-child {
width: 580px;
margin: 0 auto;
font-family: Calibri, sans-serif;
color:  #ffffff;
font-size: 20px;
font-style: italic;
letter-spacing: 0.4px;
line-height: 30px;
text-align: justify;
text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.26);
margin-top: 35px;
display: block;
}

.btn {
	display: block;
	width: 119px;
	padding: 23px 54px;
	margin: 0 auto;
	margin-top: 60px;
	display: block;
	font-family: OpenSans, sans-serif;
color:  #ffffff;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 600;
text-align: center;
border: 1px solid white;
text-transform: uppercase;
}

.btn a {text-decoration: none;
color:  #ffffff;
}


<!-- начало цен-->
{}
.top {
	margin: 50px auto;
font-family: 'Trebuchet MS';
color:  #40525c;
font-size: 30px;
font-weight: 700;
line-height: 25px;
text-align: center;
}

.main {border: 4px solid #ee8129;
box-shadow: 0px 0px 12.87px 0.13px #0874b2;
width: 288px;
height: 463px;
background-color:  #ffffff;
border-radius: 5px;}


.header {background-color:  #ee8129;
width: 288px;
height: 70px;
font-family: 'Trebuchet MS';
color:  #ffffff;
font-size: 24px;
font-weight: 700;
line-height: 68px;
text-align: center;}

.name {font-family: 'Trebuchet MS';
color:  #3f4042;
font-size: 24px;
font-weight: 400;
line-height: 68px;
text-align: center;}

.value {font-family: 'Trebuchet MS';
color:  #35495a;
font-size: 72px;
font-weight: 700;
letter-spacing: -3.6px;
line-height: 60px;
text-align: center;}

.value sup {font-family: 'Trebuchet MS';
color: #35495a;
font-size: 23px;
letter-spacing: -1.8px;
position: relative;
top: -14px;}

.value sub {font-family: 'Trebuchet MS';
color:  #35495a;
font-size: 20px;
position: relative;
top: -6px;
letter-spacing: normal;}

ul {list-style: none;
margin: 0;}

.lines {margin-left: -40px;}
.line {
width: 259px;
height: 29px;
margin: 0 auto 1px;}


.line:first-child {background-color:  #edf5fd;}
.line:nth-child(2n) {background-color:  #f5f5f6;}
.line:nth-child(3) {background-color:  #e8f2fb;}


.lines li {font-family: 'Trebuchet MS';
color: #888c94;
font-size: 15px;
font-weight: 400;
letter-spacing: 0.5px;
vertical-align: middle;
padding-top: 5px;}

.lines li:before { content: url(http://abali.ru/wp-content/uploads/2011/03/galochka-check_16x16.png);
margin: 0 10px;}

.main1 {border: 1px solid grey;
width: 288px;
height: 440px;
border-radius: 5px;}

.header1 {background-color:  #37c2d3;
width: 286px;
height: 63px;;
font-family: 'Trebuchet MS';
color:  #ffffff;
font-size: 24px;
font-weight: 700;
line-height: 68px;
text-align: center;}

.header3 {background-color:  #1cb79a;
width: 290px;
height: 63px;
font-family: 'Trebuchet MS';
color:  #ffffff;
font-size: 24px;
font-weight: 700;
line-height: 68px;
text-align: center;}

.bottom {background-color: #ee8129;
box-shadow: 0px 3px 0px 0px #b3560b;
width: 231px;
height: 16px;
font-family: 'Trebuchet MS';
color:  #ffffff;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.7px;
line-height: 16px;
text-align: center;
margin: 15px auto;
padding: 11px;
border-radius: 5px;}

.bottom1 {background-color: #3371a6;
box-shadow: 0px 3px 0px 0px  #16436a;
width: 231px;
height: 16px;
font-family: 'Trebuchet MS';
color:  #ffffff;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.7px;
line-height: 16px;
text-align: center;
margin: 15px auto;
padding: 11px;
border-radius: 5px;}

.bottom:active {
position: relative; 
top: 3px;}

.bottom1:active {
position: relative; 
top: 3px;}

.prices {width: 900px;
margin: 0px auto;
margin-bottom: 50px;
display: block;}

.numb1 {
	display: inline-block;
	z-index: 1;
	position: relative;
	left: 5px;
}

.numb2 {
	display: inline-block;
	z-index: 2;
}

.numb3 {
	display: inline-block;
	z-index: 1;
	position: relative;
	left: -5px;
}


<!-- конец цен-->

<!-- коментарии начало-->

.comment_block {
	display: block;
}

.fon {
background: rgba(6, 15, 22, 0.77) url(fon2.png);
width: auto;
height: auto;
margin: 0px;
padding: 0px;}


.orange {font-family: 'Trebuchet MS';
color:  #ee8129;
font-size: 40px;
font-weight: 400;
letter-spacing: 0.4px;
line-height: 18px;
padding-top: 50px;
 display: inline-block;
}

.blue {font-family: 'Trebuchet MS';
color:  #3170a8;
font-size: 40px;
font-weight: 400;
letter-spacing: 0.4px;
line-height: 18px;
display: inline-block;
padding-left: 5px;}

.sign {margin: 0 auto;
text-align: center;}


.photo {width: 99px;
  height: 98px;
display: inline-block;}

.photo1
{background: url("photo1.png");
position: relative;}

.photo2 {
background: url("photo2.jpg");
position: relative}

.block {width: 370px;
display: inline-block;
background-color:  #f7f7f7;
height: auto;
margin-left: 25px;
margin-bottom: 20px;
border: 1px solid #e0e0e0;
vertical-align: top;}

.blockhigh {
border-bottom: 1px dashed #e0e0e0;
width: auto;
padding: 3px 0;
color:  #3070a8;
font-size: 13px;
font-style: italic;
letter-spacing: 0.325px;
line-height: 24px;
display: inline-block;}

.customer {padding-left: 180px;}

.blocklow {
font-family: 'Trebuchet MS';
color:  #666666;
font-size: 13px;
font-weight: 400;
letter-spacing: 0.325px;
line-height: 20px;
padding: 10px 8px 15px 18px;
text-align: left;
display: inline-block;}

.comment {display: inline-block;}

.review {text-align: center;
  margin-top: 60px;
  padding-bottom: 30px;
}

.margin1 {margin-right: 40px; }
.margin2 {margin-left: 0px; }

.photo1::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 89px; bottom: 25px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-right: 20px solid  #f7f7f7; /* Добавляем треугольник */
   }

.photo2::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 89px; bottom: 25px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-right: 20px solid  #f7f7f7; /* Добавляем треугольник */
   }


<!-- комментарии конец-->

<!-- преимущества начало-->

.advantages {
	display: block;
	width: 100%;
}

.advantages p {
font-family: 'Trebuchet MS';
color:  #40525c;
font-size: 30px;
font-weight: 700;
line-height: 25px;
text-align: center;
}

.icons {
	width: 865px;
	margin: 0 auto;
	margin-top: 75px;
	display: block;
}

.icon {
	width: 141px;
	height: 140px;
	display: inline-block;
}

.icon:first-child {
	background: url(icon1.jpg);
	margin-right: 215px;
}

.icon:nth-child(2) {
	background: url(icon2.jpg);
	margin-right: 215px;
}

.icon:nth-child(3) {
	background: url(icon3.jpg);
}

.descriptions {
	width: 1035px;
	margin: 0 auto;
	margin-top: 0px;
	display: block;
}

.description {
	width: 304px;
	height: auto;
	display: inline-block;
	margin-right: 55px;
}

.description:nth-child(3) {
	margin-right: 0px;
}

.description h3 {
	font-family: FuturaBT, sans-serif;
color:  #3070a8;
font-size: 30px;/* Approximation due to font substitution */
font-weight: 300;
text-align: center;
text-transform: uppercase;
line-height: 10px;
}

.description p {
	font-family: OpenSans;
color:  #999999;
font-size: 14px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 25px;/* Approximation due to font substitution */
text-align: center;
}
/*преимущества конец*/

/* контентный блок-начало*/

.content {
	width: auto;
	height: 577px;
	display: block;
	background: url(grey_fon.jpg);
	margin-top: 62px;
}

.content h2 {
	display: block;
	width: 700px;
	padding-left: 187px;
	padding-top: 89px;
	font-family: FuturaBT, sans-serif;
color:  #ee8129;
font-size: 24px;/* Approximation due to font substitution */
font-weight: 300;
line-height: 40px;/* Approximation due to font substitution */
text-align: left;
text-transform: uppercase;
}

.content p {
	font-family: OpenSans;
color:  #ffffff;
font-size: 21px;/* Approximation due to font substitution */
font-style: italic;
line-height: 10px;/* Approximation due to font substitution */
text-align: left;
padding-left: 187px;
}

.content ul {
	font-family: OpenSans, sans-serif;
color:  #9d9d9d;
font-size: 14px;/* Approximation due to font substitution */
font-weight: 400;
line-height: 29px;/* Approximation due to font substitution */
text-align: left;
padding-left: 230px;
padding-top: 25px;
width: 604px;
 list-style-type: disc;
}

.content li {
	padding-bottom: 15px;
}

.content li:nth-child(2) {
	color:  #3070a8;
}


/* контентный блок конец*/

/* контакты начало*/

.contacts_main {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 345px;
	background: url(map.jpg) no-repeat;
	background-position: right bottom;
	position: relative;
}

.contact_frame {width: 45%;}

.contacts {
	display: block;
	width: 172px;
	margin: 0 auto;
	padding-top: 36px;
}

.contact_adress {
	position: relative;
}

.contact_adress p { 
	font-family: OpenSans;
	color: #666666;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 600;
	line-height: 14px;/* Approximation due to font substitution */
	text-align: left;
}

.contact_adress span {
	margin: 25px 0px;
	display: block;
}

.contact_adress img {
	position: absolute;
	top: -7px;
	left: -60px;
}

.contact_adress img:nth-child(8) {
	top: 115px;
}

.contact_adress img:nth-child(9) {
	top: 160px;
}

.contact_adress img:nth-child(10) {
	top: 200px;
}

.contact_adress img:nth-child(11) {
	top: 200px;
	left: 10px;
}

.contact_adress img:nth-child(12) {
	top: 200px;
	left: 80px;
}

/* контакты конец*/
/* футер начало*/

.footer {
	background-color:  #3070a8;
width: auto;
height: auto;
}

.footer_sign {
	padding: 30px 0px;
}

.footer p {
text-align: center;
font-family: OpenSans;
color:  #ffffff;
font-size: 14px;/* Approximation due to font substitution */
line-height: 30px;/* Approximation due to font substitution */
text-align: center;
}

.footer p:first-child {
font-weight: 400;

}


.footer p:last-child {
font-weight: 700;
}

.footer span {
color:  #1d1b1b;
font-size: 14px;/* Approximation due to font substitution */
font-weight: 700;
}
/* футер конец*/



















