$font-stack: Verdana, Geneva, sans-serif;
$bg-color-oven: #e6f2ff;
$bg-color-odd: #ffffff;
$primary-color-1: white;
$primary-color-2: #4da6ff;
$primary-color-3: #004080;
$bg-color-footer: #004d99;
$color-footer: #ffffff;


body {
  font-family: $font-stack;
  padding: 0px;
  margin: 0px;
}

section {
  margin: 0px 15px;
  padding-bottom: 40px;
}

.img-thumbnail {
  border: none!important;
  padding: 0px!important;
  border-radius: 0px!important;
}
.odd {
  background-color: $bg-color-odd;
}
.oven {
  background-color: $bg-color-oven;
}

.header-bg {
  background-image: url('http://lorempixel.com/output/transport-q-c-1800-300-5.jpg');
  height: 20vh;
}

.bg-light {
  background-color: $primary-color-2!important;
}

nav {
  margin: 0px 15px;
  a {
    font-size: 30px;
    margin: 0px 20px;
    color: $primary-color-1!important;
  }
  a:hover,
  a:active {
    opacity: 0.5;
  }
}
.navbar {
    border-radius: 0px;
}
/*слайдер*/
.section_title {
  color: $primary-color-3;
  padding: 30px 0px;
  font-size: 40px;
}
/*табы, аккордион-1*/
.nav {
  a {
    color: $primary-color-2;
    font-size: 20px;
    padding: 0px 30px;
  }
  a:hover,
  a:active {
    text-decoration: none;
    opacity: 0.8;
  }
}

.tab-content {
  h3 {
    color: $primary-color-3;
    padding: 30px;
  }
  img {
    margin-bottom: 20px;
  }
}
/*аккордион-2*/
.panel  {
  padding: 10px;
  background-color: $primary-color-2;
  a {
    color: $primary-color-1;
  }
  a:hover, a:active {
    text-decoration: none;
    opacity: 0.7;
  }
}
/*футер*/
footer {
  background-color: $bg-color-footer;
  margin-top: 30px;

  p, li, a {
    color: $color-footer;
  }
  li {
    padding-top: 10px;
    padding-right: 30px;
  }
  p {
    padding-top: 20px;
  }
  img {
    margin-top: 30px;
  }
  ul {
    list-style-type: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
    color: $color-footer;
    opacity: 0.8;
  }
}
@media (max-width: 1300px) {
    nav {
        a {
        font-size: 25px;
      }
    }
}
@media (max-width: 1160px) {
    .section_title {
      font-size: 30px;
    }
    nav {
        a {
        font-size: 20px;
      }
    }
    .tab-content {
      h3 {
        font-size: 20px;
      }
    }
}
@media (max-width: 1025px) {
    .section_title {
      font-size: 25px;
    }
    nav {
        a {
        font-size: 18px;
      }
    }
}

@media (max-width: 1025px) {
  .nav {
    a {
    font-size: 18px;
    padding: 0px 20px;
    }
  }
}

@media (max-width: 770px) {
  .nav {
    a {
    font-size: 17px;
    padding: 0px 10px;
    }
  }
}
@media (max-width: 767px) {
  .nav {
    a {
    font-size: 20px;
    padding: 0px 20px;
    }
  }
}
@media (max-width: 500px) {
  .carousel-caption {
    h3 {
      font-size: 16px;
    }
  }
}
@media (max-width: 350px) {
  .tab-content {
    h3 {
      font-size: 18px;
    }
  }
}
@media (max-width: 310px) {
  .tab-content {
    h3 {
      font-size: 16px;
    }
  }
}
/*todo list*/
.bs-example {
  border: none;
}
