body {
	padding: 0;
	margin: 0;
}

.block {
margin: 50px auto;
width: 100%;
}

.reviews {
	font-family: Arial, sans-serif;
	vertical-align: top;
}

.review_item {
	display: inline-block;
	width: 50%;
	min-height: 85px;
	white-space: normal;
	margin-bottom: 30px;
	vertical-align: top;
}

.review_inner {
	position: relative;
	vertical-align: top;
	margin: 0 20px 0 0;
}


.review_item:nth-child(even)
.review_inner {
	margin: 0 0 0 20px;
}

.review_inner img {
	position: absolute;
	top: 0;
	left: 8px;
	border-radius: 5px;
}

.review_inner h2 {
	 margin: 0 0 5px 115px;
    color: #637f83;
    font-size: 22px;
}

.review_inner p {
	 margin: 0 0 0 115px;
    color: #959595;
    font-size: 14px;
    line-height: 1.5em;
}

h1 {color: orange;
margin-left: 50px;
text-transform: uppercase;}

.review_inner span {
	color: red;
}

.review_inner span:hover {
	text-decoration: underline;
}



















